TZ=Asia/Jakarta

POSTGRES_DB=hris_local
POSTGRES_USER=hris_user
POSTGRES_PASSWORD=hris_password
POSTGRES_PORT=5432

REDIS_PORT=6379

MINIO_ROOT_USER=hris_minio_key
MINIO_ROOT_PASSWORD=hris_minio_secret
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

SOKETI_DEBUG=1
SOKETI_DEFAULT_APP_ID=hris-local
SOKETI_DEFAULT_APP_KEY=hris-local-key
SOKETI_DEFAULT_APP_SECRET=hris-local-secret
SOKETI_PORT=6001
SOKETI_METRICS_PORT=9601

MAILPIT_SMTP_PORT=1025
MAILPIT_UI_PORT=8025
